/* all css design set default*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
/* navbar section design start here*/
.navbar{
	height: 50px;
	width: 100%;
	background-color: #4D636F;
	
}

/* log section design start here*/
.log {
	float: left;
	line-height: 50px;
	font-size: 25px;
	padding: 0 15px;
}
.log:hover{
	background-color:#CCCCCC;
}
/* log section design End here*/
.navcontent{
	float: left;
}
.navcontent ul li{
	float: left;
	line-height: 50px;
}
.navcontent ul li a{
	padding: 18px 25px;
	font-size: 20px;
	color: white;
}
.navcontent ul li a:hover{
	background-color: white;
	color:black;
}
.profileimg{
	float: right;
	padding: 10px;
}
div.profileimg a img{
	height: 30px;
	width: 30px;
	border-radius: 50%;
}
/* navbar section design end here*/

body{
	background-color: darkgray;
}
/* Container section design start here*/
.container{
	width: 80%;
	height: auto;
	margin: auto;
	overflow: hidden;
}

/* left sidebar section design Start here*/
.leftsidebar{
	width: 20%;
	margin-right: 2.5%;
	height: auto;
	float: left;
}
.name p{
	text-align: center;
	padding: 20px 0;
}

.profile{
	padding: 5px;
	background-color: #FFFFFF;
}

.image img{
	height: 80px;
	height: 80px;
	border-radius: 50%;
}
.location{
	padding: 5px;
}
.location a{
	display: block;
	padding:10px 0;
}
.location a i{
	padding: 4px;
}
/* left sidebar section design End here*/


/* main content section design Start here*/
.maincontent{
	width: 60%;
	float: left;
	height: auto;
	margin-right:2.5%
}
/* main content section design End here*/


/* right sidebar section design Start here*/
.rightsidebar{
	width: 15%;
	float: left;
	height: auto;
}
/* right sidebar section design End here*/



/* Container section design end here*/












